.form{
    background-color: #bbdefb;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    margin: 25px auto;
    padding: 10px 0px;
}
.head{
    text-align: center;
    font-size: 25px;
    font-weight: normal;
}

.control {
    margin: 0.7rem 0;
    text-align: center;
  }
  
  .control label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.4rem;
    text-align: left;
  }
  
